@viewport {
  width: device-width;
  zoom: 1;
}

@media all and (min-width: 640px) {
  header {
      width: auto;
  }

  .icon-menu {
    display: none;
  }

  .menu {
    display: initial;
    position: static;
    float: right;
    width: auto;
    font-size: initial;
    background: transparent;
    z-index: 1;
  }

  .menu-close-button-container {
    display: none;
  }

  .menu-item-container {
    position: relative;
    top: calc(50% - 0.55em);
    display: inline;
    padding: 0 0.5em;
    font-size: 1.25em;
  }

  .menu-item {   
    color: black;
  }
}
