@viewport {
  width: device-width;
  zoom: 1;
}

@media all and (min-width: 640px) {
  .icon-menu {
    display: none;
  }

  .menu {
    float: right;
    position: initial;
    display: block;
    top: initial;
    left: initial;
    height: initial;
    width: initial;  
    font-size: initial;
    background: transparent;
    z-index: 1;
  }

  .menu-close-button-container {
    display: none;
  }

  .menu-item-container {
    display: inline;
    padding: 0 0.5em;
    font-size: 1.25em;
  }

  .menu-item {   
    color: black;
  }
}
