@import url('https://fonts.googleapis.com/css?family=Inconsolata');

* {
  outline-color: lightcoral;
  box-shadow: none;
}

html, .project-technology, a, .project-technology {
  color: #ccc;
}

body {
  min-width: 409px;
}

a {
  text-decoration: none;
}

html, .project-details, .filter-item:hover {
  background-color: #2c323a;
}

h1, h2, h3, h4, h5, div, .title, .menu-item, .copyright, .project-title {
  font-family: 'Inconsolata', monospace;
}

header, footer, .menu, .project-display, .project-header, .filter, .filter-dropdown {
  background-color: #21252B;
}

.menu-item:hover {
  text-decoration: underline;
}

.filter-container {
  border: transparent;
}

.filter {
  color: inherit;
}

.filter-dropdown {
  box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
}

.project-title-arrow, #about {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-technology {
  padding: 5px 8px;
  font-size: 1em;
}

.project-technology {
  background-color: rgba(0, 0, 0, 0.5);
}

.footer-left span {
  padding-right: 0px;
}

.footer-left-separator {
  position: static;
  color:#666;
}

.border, .filter, .filter-dropdown {
  border: 1px solid #16191d;
}

@media (min-width: 640px) {
  .selected {
    color: lightcoral;
  }
}

.opened {
  color: lightcoral;
}

