header {
  padding: 40px; 
  border-bottom: 1px;
  flex: none;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex: 1;
  position: relative;
}

footer {
  padding: 15px 30px;
  border-top: 1px;
}