.title {
  font-size: 2em;
  float: left;
}

.icon-menu {
  width: auto;
  float: right;
  font-size: 1.5em;
  line-height: 1.5em;
}

@media (min-width: 640px) {
  .icon-menu {
    display: none;
  }
}

.menu {
  display: none;
  clear: both;
  line-height: 2em;
  padding: 30px 0;
}

@media (min-width: 640px) {
  .menu {
    display: block !important;
    clear: none;
    float: right;
    background: transparent;
    padding: 0;
  }
}

.menu-item {
  font-size: 2em;
  text-decoration: none;
  padding: 10px 0px;
  display: block;
}

@media (min-width: 640px) {
  .menu-item {
    font-size: 100%;
    display: inline;
    padding: 0 0.5em;
    font-size: 1.25em;
  }
}

.tab-content {
  width: 96vw;
  padding: 2vw;
  position: relative;
  display: inline-block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.filter-container {
  width: 100%;
}

.filter {
  position: relative;
  float: right;
  width: 250px;
  text-align: left;
  margin: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}

.filter-selection {
  padding: 10px 20px;
  user-select: none;
}

.filter-dropdown {
  display: none;
  position: absolute;
  width: 250px;
  left: -1px; /* Offsets border width */
}

.filter-item {
  padding: 5px 10px;
  cursor: pointer;
}

.filter-item:hover {
  cursor: pointer;
}

.project {
  flex: 1;
  flex-basis: 100%;
  min-width: 250px;
  margin: 15px;
  vertical-align: top;
}

@media (min-width: 640px) {
  .project {
    min-width: 250px;
    width: 30vw;
    max-width: 400px;   
  }
  .project-display {
    min-height: 150px;
    height: 20vw;
    max-height: 250px;
  }
}

.project-link {
  display: block;
}

.project-display {
  min-height: 12.5em;
  background-size: cover;
  background-position: center;
  border-width: 1px 1px 0 1px;
}

.project-details {
  display: none;
  padding: 0.75em 0;
  border-width: 0 1px;
  text-align: center;
}

.project-details * {
  margin: 0.5em;
}

.project-description {
  padding-bottom: 5px;
}

.project-technologies {
  padding: 0 3px;
}

.project-technology {
  border-radius: 3px;
  font-size: 0.8em;
  display: inline-block;
  margin: 3px;
  padding: 5px;
}

.project-header {
  display: block;
  text-align: center;
  border-width: 1px;
  cursor: pointer;
}

.project-title {
  font-size: 1.25em;
  padding-top: 0.75em;
  padding-bottom: 0.5em;
}

.project-title-arrow {
  font-size: 1.5em;
}

#technologies, #about {
  font-size: 1.25em;
  line-height: 1.5em;
}

.technologies-list {
  list-style: disc inside;
}

#about {
  text-align: center; 
  padding-top: 5vh;
}

.about-image {
  width: 20vh; 
  border-radius: 100%; 
  clear: both; 
  margin: 0 auto;
}

.about-text { 
  width: 80vw;
  padding-top: 3vh;
  margin: 0 auto;
}

.copyright {
  float: left;
}

.footer-left span {
  float:left;
  line-height:1.5em;
  padding-right: 5px;
}

@media (max-width:488px) {
  .footer-left span {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
}

.footer-left-separator {
  position: relative;
  bottom: 0.1em;
}

@media (max-width:488px) {
  .footer-left-separator {
    display: none;
  }
}

.icon-contrast {
  cursor: pointer;
}

.social {
  float: right;
}

@media (max-width:488px) {
  .social {
    width: 100%;
    padding: 7px 0 ;
    text-align: center;
  }
}

.social-link {
  padding: 0.5em;
  font-size: 1.25em;
}