@media (min-width: 640px) {
  .selected {
    color: cornflowerblue;
  }
}

.hidden {
  display: none !important;
}

.expanded {
  margin: -0.9em 0 0.9em 0;
}

.expanded:after {
  content: '🢑';
}

.collapsed:after {
  content: '🢓';
}

.opened {
  color: cornflowerblue;
}

.stretched {
  flex: 1;
}

.slideLeft {
  position: absolute;
  left: 100vw;
}

.slideRight {
  position: absolute;
  left: -100vw;
}